<div class="top-image">
  <div class="top-image-text">
    <% unless user_signed_in? %>
        <h1> Please tell me the book that remains in your mind. </h1>
        <%= link_to " Please post your book.", new_user_session_path, class: "btn btn-light fas fa-sign-in-alt" %>
    <% else %>
        <h1> Please tell me the book that remains in your mind. </h1>
        <%= link_to " Please post your book.", new_post_path, class: "btn btn-light fas fa-book" %>
    <% end %>
  </div>
</div>
<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">All-posts 📚</a>
      <a class="nav-item nav-link" id="nav-liketrends-tab" data-toggle="tab" href="#nav-liketrends" role="tab" aria-controls="nav-liketrends" aria-selected="false">Like-trends 💙</a>
      <a class="nav-item nav-link" id="nav-stocktrends-tab" data-toggle="tab" href="#nav-stocktrends" role="tab" aria-controls="nav-stocktrends" aria-selected="false">Stock-trends 📂</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
      <% if @posts.any? %>
        <ol class="microposts">
          <%= render @posts %>
        </ol>
      <% end %>
      <p>
        <%= will_paginate @posts,:previous_label => '&lt', :next_label => '&gt', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </p>
    </div>
    <div class="tab-pane fade" id="nav-liketrends" role="tabpanel" aria-labelledby="nav-liketrends-tab">
      <% @like_trend_posts.each do |like_trend_post| %>
        <ol class="microposts">
        <%= render partial: 'posts/post', locals: { post: like_trend_post } %>
        </ol>
      <% end %>
      <p>
        <%= will_paginate @like_trend_posts,:previous_label => '&lt', :next_label => '&gt', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </p>
    </div>
    <div class="tab-pane fade" id="nav-stocktrends" role="tabpanel" aria-labelledby="nav-stocktrends-tab">
      <% @stock_trend_posts.each do |stock_trend_post| %>
        <ol class="microposts">
        <%= render partial: 'posts/post', locals: { post: stock_trend_post } %>
        </ol>
      <% end %>
      <p>
        <%= will_paginate @stock_trend_posts,:previous_label => '&lt', :next_label => '&gt', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </p>
    </div>
  </div>
</div>
